
<script src="~/Scripts/JQueryTool/CheckVal.js"></script>
<script src="~/Scripts/JQueryTool/Method.js"></script>
<script src="~/Scripts/IMGX/WorkStation/Search.js"></script>
<style type="text/css"></style>

<div class="WorkStationToolBar">
    
    Code:<input type="text" class="inputtext" title="code" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    名称:<input type="text" class="inputtext" title="name" />
    <br />
    机种:<input class="easyui-combobox" style="width:120px;" title="modelid" />
    <input id="tbxWorkStationModelDefault" value='@ViewData["Model"]' class="hidden"  />
    &nbsp;&nbsp;&nbsp;&nbsp;
    状态:<input class="easyui-combobox" style="width:120px;" title="isvalid" />
    &nbsp;&nbsp;&nbsp;&nbsp;
    <button class="easyui-linkbutton" href="#" data-options="iconCls:'icon-search'" onclick="clickSearch(this);">搜索</button>
    <button class="easyui-linkbutton" href="#" data-options="iconCls:'icon-clear'" onclick="clickSearchClear(this);">清除</button>

</div>


<table class="easyui-datagrid" title="SearchWorkStation" style=""></table>
