
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<script src="~/Scripts/OURPM/PowerInRole/Index.js"></script>


<div div="searchRelationRPToolbar">
    &nbsp;<span class="lblLeadTitle">角色</span>&nbsp;
    <input id="searchRelationRPRoleId" type="text" class="tbxId" readonly="readonly" />
    <span id="searchRelationRPRoleName" class="lblLeadTitle"></span>
    <input id="selectRelationRPSelected" class="hidden" />
    <br />
    <input id="searchRelationRPCode" style="" class="easyui-textbox" data-options="prompt:'编号'" />
    <input id="searchRelationRPName" style="" class="easyui-textbox" data-options="prompt:'名称'" />
    <select class="easyui-combobox" id="searchRelationRPIsEnable">
        <option value="-1">--选择可见--</option>
        <option value="0">不可见</option>
        <option value="1">可见</option>
    </select>
    <select class="easyui-combobox" id="searchRelationRPIsValid">
        <option value="-1">--选择激活--</option>
        <option value="0">未激活</option>
        <option value="1">激活</option>
    </select>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-search'" href="#" id="searchRelationRPSearch">搜索</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-clear'" href="#" id="searchRelationRPClear">清除</a>
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" href="#" id="searchRelationRPKeep">保存</a>
</div>

<table class="easyui-datagrid" id="selectRelationRPTable"></table>
<div id="dgPartialRole" style="margin:0px auto;"></div>

