<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--SqlServer  172.22.9.171\SPCM001,1433    172.22.9.24,1433  --> 
  <add name="WXZL" connectionString="data source=127.0.0.1;initial catalog=WXZL;Pooling=true;Max Pool Size=100;Min Pool Size=0;integrated security=false;persist security info=True;User ID=developer;Password=p@d0000"  providerName="System.Data.EntityClient"/>
</connectionStrings>