<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu Name="497Lot追溯" Icon="icon_menu_sys">
    <SecondMenu Name="基础数据管理">
      <ThirdMenu Name="机台状态&amp;模式" Url="~/GlobalM/Machine/Index" Permission="sysuser.search" />
      <ThirdMenu Name="部品List" Url="~/GlobalM/MUnit/Index" Permission="sysuser.search" />
      <ThirdMenu Name="机种List" Url="~/GlobalM/Spcmodel/Index" Permission="sysuser.search" />
      <ThirdMenu Name="修理品关系维护" Url="~/GlobalM/Repair/Index" Permission="sysuser.search" />
      <ThirdMenu Name="机台可生产小机种" Url="~/GlobalM/Machine/SubModelIndex" Permission="sysuser.search" />
      <ThirdMenu Name="机种切换" Url="~/GlobalM/Machine/SubModelChange" Permission="sysuser.search" />
      <ThirdMenu Name="GRT抛料统计" Url="~/GlobalM/Machine/GrtWastePercent" Permission="sysuser.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="SPC496" Icon="icon_menu_sys">
    <SecondMenu Name="元数据管理">
      <ThirdMenu Name="生产模式" Url="~/GlobalM/User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="修理品构成" Url="~/GlobalM/Repair/Index" Permission="sysuser.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="系统2" Icon="icon_menu_sys">
    <SecondMenu Name="系统管理">
      <ThirdMenu Name="用户管理" Url="~/GlobalM/User/Index" Permission="sysuser.search" />
      <ThirdMenu Name="角色管理" Url="~/GlobalM/Role/Index" Permission="sysrole.search" />
      <ThirdMenu Name="接口密钥管理" Url="~/GlobalM/AppSecret/Index" Permission="appsecret.search" />
      <ThirdMenu Name="系统日志" Url="~/GlobalM/Log/Index" Permission="sysLog.search" />
    </SecondMenu>
  </FirstMenu>
  <FirstMenu Name="画像" Icon="icon_menu_sys">
    <SecondMenu Name="画像处理">
      <ThirdMenu Name="Ⅰ-机种" Url="~/GlobalM/Model/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅰ-位置" Url="~/GlobalM/Location/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅱ-控制台" Url="~/GlobalM/Console/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅱ-线别" Url="~/GlobalM/Cell/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅱ-工位" Url="~/GlobalM/WorkStation/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅲ-机台" Url="~/GlobalM/Mac/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅲ-工位产线" Url="~/GlobalM/WorkStationCell/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅳ-机台画像" Url="~/GlobalM/XPath/Index" Permission="sysuser.search" />
      <ThirdMenu Name="Ⅴ-读设备" Url="~/GlobalM/ReadSetting/Index" Permission="sysuser.search" />
    </SecondMenu>
    <SecondMenu Name="画像查询">
      <ThirdMenu Name="OP/AC" Url="~/GlobalM/Search/ForOP" Permission="sysuser.search" />
      <ThirdMenu Name="根据时间" Url="~/GlobalM/Search/ForTime" Permission="sysuser.search" />
    </SecondMenu>
    <SecondMenu Name="OP/AC">
      <ThirdMenu Name="OPID" Url="~/GlobalM/Search/ByOPID" Permission="sysuser.search" />
      <ThirdMenu Name="SerialNo" Url="~/GlobalM/Search/BySerialNo" Permission="sysuser.search" />
      <ThirdMenu Name="组合查询(OP)" Url="~/GlobalM/Search/CombinationOP" Permission="sysuser.search" />
      <ThirdMenu Name="组合查询(AC)" Url="~/GlobalM/Search/CombinationAC" Permission="sysuser.search" />
    </SecondMenu>
  </FirstMenu>
</SysMenu>