<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--系统用户-->
  <action url="GlobalM/UserInfo/Index" needPermission="sysuser.search" />
  <action url="GlobalM/UserInfo/GetDataList" needPermission="sysuser.search" />
  <action url="GlobalM/UserInfo/SaveData" needPermission="sysuser.manage" />
  <action url="GlobalM/UserInfo/DeleteData" needPermission="sysuser.manage" />
  <action url="GlobalM/UserInfo/SavePermission" needPermission="sysuser.manage" />
  <!--系统角色-->
  <action url="GlobalM/Base_SysRole/GetDataList" needPermission="sysuser.search" />
  <action url="GlobalM/Base_SysRole/SaveData" needPermission="sysuser.manage" />
  <action url="GlobalM/Base_SysRole/DeleteData" needPermission="sysuser.manage" />
  <action url="GlobalM/Base_SysRole/SavePermission" needPermission="sysuser.manage" />
</configuration>