
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}
<script src="~/Scripts/OURPM/Role/Index.js"></script>
<div id="searchRoleToolBar">
    <a id="btnRoleInsert" class="easyui-linkbutton" href="#" data-options="iconCls:'icon-add'">新增</a>
    <a id="btnRoleUpdate" class="easyui-linkbutton" href="#" data-options="iconCls:'icon-edit'">修改</a>
    <a id="btnRoleDelete" class="easyui-linkbutton" href="#" data-options="iconCls:'icon-remove'">删除</a>
    <input id="searchRoleCode" type="text" style="" class="easyui-textbox" data-options="prompt:'编号'" />
    <input id="searchRoleName" type="text" style="" class="easyui-textbox" data-options="prompt:'名称'" />
    <select id="searchRoleVisible" class="easyui-combobox">
        <option value="-1">--选择可见--</option>
        <option value="0">不可见</option>
        <option value="1">可见</option>
    </select>
    <select id="searchRoleEnable" class="easyui-combobox">
        <option value="-1">--选择激活--</option>
        <option value="0">未激活</option>
        <option value="1">激活</option>
    </select>
    <a id="btnRoleSearch" class="easyui-linkbutton" href="#" data-options="iconCls:'icon-search'">搜索</a>
    <a id="btnRoleClear" class="easyui-linkbutton" href="#" data-options="iconCls:'icon-clear'">清除</a>

</div>


<table id="RoleTable" class="easyui-datagrid"></table>


<div id="RoleDialog" class="easyui-dialog" title="RoleDialog" style="padding:10px 10px 10px 10px;">
    <table class="dialogTable">
        <tr class="hidden">
            <td>序号：</td>
            <td><input style="width:100%" type="text" id="dgRoleId" class="easyui-textbox" data-options="prompt:'序号(只读)'" readonly="readonly" /></td>
            <td class="tableAtten"><div class="errorMsg"></div></td>
        </tr>
        <tr>
            <td>编号：</td>
            <td><input style="width:100%" type="text" id="dgRoleCode" class="easyui-textbox" data-options="prompt:'编号'" /></td>
            <td><div class="errorMsg"></div></td>
        </tr>
        <tr>
            <td>名称：</td>
            <td><input style="width:100%" type="text" id="dgRoleName" class="easyui-textbox" data-options="prompt:'名称'" /></td>
            <td><div class="errorMsg"></div></td>
        </tr>
        <tr>
            <td>备注：</td>
            <td><input style="width:100%" type="text" id="dgRoleRemark" class="easyui-textbox" data-options="prompt:'备注'" /></td>
            <td><div class="errorMsg"></div></td>
        </tr>
        <tr>
            <td>组织：</td>
            <td><select style="width:100%" id="dgRoleOrganization" class="easyui-combobox"></select></td>
            <td><div class="errorMsg"></div></td>
        </tr>
        <tr>
            <td>状态：</td>
            <td>
                <input style="width:47%" id="dgRoleVisible" class="easyui-switchbutton" data-options="onText:'可见',offText:'不可见'">
                <input style="width:47%" id="dgRoleEnable" class="easyui-switchbutton" data-options="onText:'激活',offText:'未激活'">
            </td>
            <td><div class="errorMsg"></div></td>
        </tr>
    </table>
</div>

